<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="../static/blog.css">
    <link rel="stylesheet" type="text/css" href="../static/styles.css">
    <script src="script.js"></script>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>

    <div id="topnav" class="topnav">
        <a href="/">HOME</a>
        <a href="/go_bestsellers">BESTSELLERS</a>
        <a href="/go_recomend">OUR RECOMENDATIONS</a>
        <a href="/go_discover">DISCOVER</a>
        <a class="active" href="/go_blog">BLOG</a>
        <div class="dropdown">
            <button class="dropbtn">DOCUMENTS
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
                <a href= "/go_insurance">INSURANCE</a>
                <a href= "/go_travel_law">TRAVEL LAW</a>
                <a href= "/go_conditions">CONDITIONS</a>
            </div>
        </div>
        <a href="/go_about">ABOUT US</a>
        <a img href="/go_login"><img style="width:40px;"src="../static/login_icon.png"></a>
    </div>
    
    <div style="padding-left:16px">
        <main>
            <article>
                <div class="article">
                    <div class="row">
                        <img class="col" src="../static/planets/mercury.jpg" style = "width: 200px" >
                        <div class="col">
                            <h2>A Closer Look at Mercury’s Spin and Gravity Reveals the Planet’s Inner Solid Core</h2>
                            <p>Location: Mercury</p>
                            <p>Published on: APR 17, 2019</p>
                            <p class="summary">NASA Scientists found evidence that Mercury’s inner core is indeed solid and that it is very nearly the same size as Earth’s inner core.</p>
                            <a href="https://www.nasa.gov/solar-system/a-closer-look-at-mercurys-spin-and-gravity-reveals-the-planets-inner-solid-core/" class="read-more-button">Read more</a>
                        </div>
                    </div>
                </div>
                <div class="article">
                    <div class="row">
                        <img class="col" src="../static/planets/venus.jpg" style = "width: 200px" >
                        <div class="col">
                            <h2>NASA’s Magellan Data Reveals Volcanic Activity on Venus</h2>
                            <p>Location: Venus</p>
                            <p>Published on: MAR 15, 2023</p>
                            <p class="summary">In a first, scientists have seen direct evidence of active volcanism on Earth’s twin, setting the stage for the agency’s VERITAS mission to investigate.</p>
                            <a href="https://www.nasa.gov/missions/veritas/nasas-magellan-data-reveals-volcanic-activity-on-venus/" class="read-more-button">Read more</a>
                        </div>
                    </div>
                </div>
                <div class="article">
                    <div class="row">
                        <img class="col" src="../static/planets/earth.jpg" style = "width: 200px" >
                        <div class="col">
                            <h2>Water-Watching Satellite Monitors Warming Ocean off California Coast</h2>
                            <p>Location: Earth</p>
                            <p>Published on: SEP 19, 2023</p>
                            <p class="summary">The international Surface Water and Ocean Topography mission is able to measure ocean features, like El Niño, closer to a coastline than previous space-based missions.</p>
                            <a href="https://www.nasa.gov/earth/water-watching-satellite-monitors-warming-ocean-off-california-coast/" class="read-more-button">Read more</a>
                        </div>
                    </div>
                </div>
                <div class="article">
                    <div class="row">
                        <img class="col" src="../static/planets/mars.jpg" style = "width: 200px" >
                        <div class="col">
                            <h2>A Bear on Mars?</h2>
                            <p>Location: Mars</p>
                            <p>Published on: OCT 05, 2023</p>
                            <p class="summary">The Mars Reconnaissance Orbiter (MRO) captured this bit of ursine pareidolia on Dec. 12, 2022. While it resembles a bear we might see on Earth, this is actually a hill on Mars with a peculiar shape.</p>
                            <a href="https://www.nasa.gov/image-article/a-bear-on-mars/" class="read-more-button">Read more</a>
                        </div>
                    </div>
                </div>
                <div class="article">
                    <div class="row">
                        <img class="col" src="../static/planets/jupiter.jpg" style = "width: 200px" >
                        <div class="col">
                            <h2>NASA’s Webb Finds Carbon Source on Surface of Jupiter’s Moon Europa</h2>
                            <p>Location: Jupiter</p>
                            <p>Published on: SEP 21, 2023</p>
                            <p class="summary">Astronomers using data from NASA’s James Webb Space Telescope have identified carbon dioxide in a specific region on the icy surface of Jupiters moon Europa.</p>
                            <a href="https://www.nasa.gov/solar-system/nasas-webb-finds-carbon-source-on-surface-of-jupiters-moon-europa/" class="read-more-button">Read more</a>
                        </div>
                    </div>
                </div>
                <div class="article"> 
                    <div class="row">
                        <img class="col" src="../static/planets/saturn.jpg" style = "width: 200px" >
                        <div class="col">
                            <h2>Hubble Captures the Start of a New Spoke Season at Saturn</h2>
                            <p>Location: Saturn </p>
                            <p>Published on: FEB 09, 2023</p>
                            <p class="summary">New images of Saturn from NASA's Hubble Space Telescope herald the start of the planet's "spoke season" surrounding its equinox, when enigmatic features appear across its rings. The cause of the spokes, as well as their seasonal variability, has yet to be fully explained by planetary scientists.</p>
                            <a href="https://science.nasa.gov/missions/hubble/hubble-captures-the-start-of-a-new-spoke-season-at-saturn/" class="read-more-button">Read more</a>
                        </div>
                    </div>
                </div>
                <div class="article">
                    <div class="row">
                        <img class="col" src="../static/planets/uranus.jpg" style = "width: 200px" >
                        <div class="col">
                            <h2>NASA Scientists Make First Observation of a Polar Cyclone on Uranus</h2>
                            <p>Location: Uran </p>
                            <p>Published on: MAY 23, 2023</p>
                            <p class="summary">Scientists used ground-based telescopes to get unprecedented views, thanks to the giant planet’s position in its long orbit around the Sun.</p>
                            <a href="https://www.nasa.gov/solar-system/nasa-scientists-make-first-observation-of-a-polar-cyclone-on-uranus-2/" class="read-more-button">Read more</a>
                        </div>
                    </div>
                </div>
                <div class="article">
                    <div class="row">
                        <img class="col" src="../static/planets/neptun.jpg" style = "width: 200px" >
                        <div class="col">
                            <h2>New Study Finds Unexpected Temperature Changes on Neptune</h2>
                            <p>Location: Neptune</p>
                            <p>Published on: APR 15, 2022</p>
                            <p class="summary">The average global temperature on Neptune unexpectedly fluctuated during a recent 17-year period, according to a new study published by the American Astronomical Society in The Planetary Science Journal.</p>
                            <a href="https://science.nasa.gov/solar-system/planets/neptune/new-study-finds-unexpected-temperature-changes-on-neptune/" class="read-more-button">Read more</a>
                        </div>
                    </div>
                </div>
                
            </article>
        </main>
    </div>
    
    </body>
</html> 