<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="../static/blog.css">
    <link rel="stylesheet" type="text/css" href="../static/styles.css">
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>

    <div id="topnav" class="topnav">
        <a href="/">HOME</a>
        <a href="/go_bestsellers">BESTSELLERS</a>
        <a href="/go_recomend">OUR RECOMENDATIONS</a>
        <a href="/go_discover">DISCOVER</a>
        <a class="active" href="/go_blog">BLOG</a>
        <a href= "/go_insurance">INSURANCE</a>
        <a href= "/go_travel_law">TRAVEL LAW</a>
        <a href= "/go_conditions">CONDITIONS</a>
        <a href="/go_about">ABOUT US</a>
        <a img href="/go_login"><img style="width:40px;"src="../static/login_icon.png"></a>
    </div>
    
    <div style="padding-left:16px">
        <main>
            <article class="article">
                <div class="row">
                    <img class="col" src="../static/ekosfera.png" style = "width: 200px" alt="Article 1 Image">
                    <div class="col">
                        <h2>Article 1: Title</h2>
                        <p>Published on: October 7, 2023</p>
                        <p class="summary">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ac ex nec justo mattis iaculis. Integer vel justo nec leo varius cursus vel vel est.</p>
                        <a href="https://www.nasa.gov/get-involved/virtual-guest-program/nasa-invites-public-to-share-in-excitement-of-psyche-mission/" class="read-more-button">Read more</a>
                    </div>
                </div>
            </article>
        </main>
    </div>
    
    </body>
</html> 