<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="../static/styles.css">
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>

    <div id="topnav" class="topnav">
        <a href="/">HOME</a>
        <a href="/go_bestsellers">BESTSELLERS</a>
        <a href="/go_recomend">OUR RECOMENDATIONS</a>
        <a class="active" href="/go_discover">DISCOVER</a>
        <a href="/go_blog">BLOG</a>
        <a href= "/go_insurance">INSURANCE</a>
        <a href= "/go_travel_law">TRAVEL LAW</a>
        <a href= "/go_conditions">CONDITIONS</a>
        <a href="/go_about">ABOUT US</a>
        <a img href="/go_login"><img style="width:40px;"src="../static/login_icon.png"></a>
    </div>
    
    <div style="padding-left:16px">
    </style>
</head>
<body style="text-align: center;">
    <h1>CHOOSE YOUR PLANET!</h1>
    <table>
        <tr>
            <td><a img href="/go_mercury"><img src="../static/planet_icons/mercury.jpg" alt="Mercury"></td>
            <td><a img href="/go_venus"><img src="../static/planet_icons/venus.jpg" alt="Venus"></td>
            <td><a img href="/go_mars"><img src="../static/planet_icons/mars.jpg" alt="Mars"></td>
        </tr>
        <tr>
            <td><a img href="/go_jupiter"><img src="../static/planet_icons/jupiter.jpg" alt="Jupiter"></td>
            <td><a img href="/go_saturn"><img src="../static/planet_icons/saturn.jpg" alt="Saturn"></td>
            <td><a img href="/go_uranus"><img src="../static/planet_icons/uranus.jpg" alt="Uranus"></td>
        </tr>
        <tr>
            <td><a img src="../static/planet_icons/empty.jpg" alt=""></td>
            <td><a img href="/go_neptune"><img src="../static/planet_icons/neptune.jpg" alt="Neptune"></td>
            <td><a img src="../static/planet_icons/empty.jpg" alt=""></td>
        </tr>
    </table>
    </div>
    
    </body>
</html> 