<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" type="text/css" href="../static/styles.css">
  <script src="script.js"></script>
  <meta charset="UTF-8">
  <title>Scorpio Trips</title>
  <video autoplay muted loop id="myVideo">
    <source src="../static/background.mp4" type="video/mp4">
</head>
<body>
</main>
<div class="container">
  <div class="content">
    <form action="/form_register" method="post">
      <h2></h2>Username:<br>
      <input type="text" name='username'>
      <br>Password:<br>
      <input  name='password' >
      <br>Email:<br>
      <input type=mail name='e-mail'><br>

    <input type="submit" value="Register">
    </form> 
  </div>
</div>
</body>
</html>