<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="../static/styles.css">
    <script src="script.js"></script>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>

    <div id="topnav" class="topnav">
        <a href="/">HOME</a>
        <a href="/go_recomend">OUR RECOMENDATIONS</a>
        <a href="/go_discover">DISCOVER</a>
        <a href="/go_blog">BLOG</a>
        <div class="dropdown">
            <button class="dropbtn">TRAVEL DETAILS
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
                <a href= "/go_transport">TRANSPORT</a>
                <a href= "/go_hotel">ACCOMODATION</a>
                <a class="active" href= "/go_insurance">INSURANCE</a>
                <a href= "/go_travel_law">DEPATRURE REGULATIONS</a>
                <a href= "/go_conditions">CONDITIONS</a>
            </div>
        </div>
        <a href="/go_about">ABOUT US</a>
        <a img href="/go_login"><img style="width:40px;"src="../static/login_icon.png"></a>
    </div>
    
    <main>
        <article class="article">
            <div class="row">
                <div class="col">
                    <h1>INSURANCE</h1>
                    <p class="summary">Each person travelling with us is covered by insurance, which is valid at all medical centres at the planetary hotels</p>
                    <p class="summary">If a traveller becomes ill during the trip, there is the possibility of a teleportation with a doctor on Earth.</p>
                </div>
                <img class="col" src="../static/travel/insurance.png" style = "width: 800px;" >
            </div>
        </article>
    </main>
    
    </body>
</html> 