<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" type="text/css" href="../static/styles.css">
  <meta charset="UTF-8">
  <title>Scorpio Trips</title>
</head>
<body>
  <video autoplay muted loop id="myVideo">
    <source src="../static/background.mp4" type="video/mp4">
  </video>
<div id="topnav" class="topnav" style="position: fixed;">
  <a href="/">HOME</a>
  <a href="/go_recomend">OUR RECOMENDATIONS</a>
  <a href="/go_discover">DISCOVER</a>
  <a href="/go_blog">BLOG</a>
  <div class="dropdown">
      <button class="dropbtn">TRAVEL DETAILS
        <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
        <a href= "/go_transport">TRANSPORT</a>
        <a href= "/go_hotel">ACCOMODATION</a>
        <a href= "/go_insurance">INSURANCE</a>
        <a href= "/go_travel_law">DEPATRURE REGULATIONS</a>
        <a href= "/go_conditions">CONDITIONS</a>
    </div>
</div>
  <a href="/go_about">ABOUT US</a>
  <a class="active" img href="/go_login"><img style="width:40px;"src="../static/login_icon.png"></a>
</div>
<div class="container">
  
  <div class="content">
    <form action="/form_login" method="post">
      <h2></h2>Username:<br>
      <input type="text" name='username'><br>
      Password:<br>
      <input  name='password' ><br><br>
    <input type="submit" value="Login">
    </form> 
    <form action="/go_register">
      <input type="submit" value="Register"/>
  </form>
  <form action="/go_forgot_pwd">
    <input type="submit" value="Forgot password?"/>
</form>
    <h1 >{{info}}</h1>
  </div>
</div>
</body>
</html>