<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" type="text/css" href="../static/styles.css">
  <meta charset="UTF-8">
  <title>Scorpio Trips</title>
</head>
<body>
</main>
<div class="container">
  <img src="../static/backgroung.jpg" alt="rover" style="width:100%;">
  <div class="content">
    <form action="/form_login" method="post">
      <h2></h2>Username:<br>
      <input type="text" name='username'><br>
      Password:<br>
      <input  name='password' ><br><br>
    <input type="submit" value="Login">
    </form> 
    <button value="Register">Register</button>
    <h1 >{{info}}</h1>
  </div>
</div>
</body>
</html>