<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" type="text/css" href="../../static/planets.css">
  <meta charset="UTF-8">
  <title>Scorpio Trips</title>
</head>
<body>
  <video autoplay muted loop id="myVideo">
    <source src="../../static/planet_background/uranus.mp4" type="video/mp4">
  </video>
</main>
<div id="topnav" class="topnav" style="position: fixed;">
  <a href="/">HOME</a>
  <a href="/go_recomend">OUR RECOMENDATIONS</a>
  <a href="/go_discover">DISCOVER</a>
  <a href="/go_blog">BLOG</a>
  <div class="dropdown">
      <button class="dropbtn">TRAVEL DETAILS
        <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
        <a href= "/go_transport">TRANSPORT</a>
        <a href= "/go_hotel">ACCOMODATION</a>
        <a href= "/go_insurance">INSURANCE</a>
        <a href= "/go_travel_law">DEPATRURE REGULATIONS</a>
        <a href= "/go_conditions">CONDITIONS</a>
    </div>
</div>
  <a href="/go_about">ABOUT US</a>
  <a class="active" img href="/go_login"><img style="width:40px;"src="../static/login_icon.png"></a>
</div>

<div class="container">
  <div class="content">
    <h1>URANUS</h1>
    <h3>THE MYSTERIOUS ICE GIANT</h3>
    <div class="row">
      <!-- <div class="col">
        <a href="www.google.com"><img src="../../static/ofer1_icon.png" style="width: 40px;"></a><br>
        <figurecaption>Trip to C13</figurecaption>
      </div> -->
      <div class="col">
        <a href="../../static/offers/In the footsteps of Voyager 2.pdf"><img src="../../static/ofer2_icon.png" style="width: 40px;"></a><br>
        <figurecaption>Follow the steps of Voyager 2</figurecaption>
      </div>
    </div>
    
    <button onclick="openModal('modal1')">Atractions</button>
    <button onclick="openModal('modal2')">Fun fact</button>
    <button onclick="openModal('modal3')">Weather</button>
    <button onclick="openModal('modal4')">Statistics</button>
    <button onclick="openModal('modal5')">Photos</button>

    <!-- Okna modalne -->
    <div class="modal" id="modal1">
        <div class="modal-content" style="text-align: center;">
            <h2>Experience for yourself how far away Uranus actually is</h2>
            <p>With our excursion, you will see how small our daily star is from the perspective of a low Uranian orbit and what the upper layers of this planet's atmosphere look like up close. </p>
            <h2>In the footsteps of Shakespeare's and Pope's characters</h2>
            <p>The moons of Uranus are also very interesting objects, characterized by interesting surface textures as well as names! As you travel, you will have the opportunity to see the surface of Uranus' natural satellites, which got their name after characters from novels by eminent English poets.</p>
            <button onclick="closeModal('modal1')">Close</button>
        </div>
    </div>

    <div class="modal" id="modal4">
        <div class="modal-content">
          <ul>
            <li>A day on Uranus: 17h*, a Uranian year takes 84 Earth years</li>
            <li>How many Earths can fit inside Uranus: 63</li>
            <li>How many Earth masses is one Uranus mass: 14 </li>
            <li>Distance to the sun: 19.8 AU (1 AU = 149 597 871 km)</li>
            <li>Planet composition (by volume): 83% hydrogen; 15% helium; 2.3% methane; Less than 0.01% of other gasses</li>
          </ul>
            <button onclick="closeModal('modal4')">Close</button>
        </div>
    </div>

    <div class="modal" id="modal3">
        <div class="modal-content">
            <ul>
              <li>Coldest Planet in the solar system, lowest temperature recorded: -224 °C</li>
              <li>Average temperature of Uranus' surface layers:  -197 °C</li>
              <li>Average pressure in the upper layers of the atmosphere:  130 kPa</li>
              <li>Average wind speed in the upper layers of the atmosphere: 900 km/h</li>
            </ul>
            <button onclick="closeModal('modal3')">Close</button>
        </div>
    </div>

    <div class="modal" id="modal2">
  <div class="modal-content">
            <ul>
              <li>A peculiar day on Uranus - Uranus is extremely inclined with its rotation axis to the plane of the solar system, an angle of more than 90 degrees! This means that, in contrast to other planets, there is no sunset every revolution of the planet, but every 21 Earths’ years!</li>
              <li>An icy planet with a hot interior - Uranus' mantle does not consist of the kind of ice known on Earth. The ice inside this bright blue planet is made up of hot water-ammonia ice, which is only formed by a pressure equal to 200 Barium, which prevails at a depth of about 300km. </li>
              <li>Methane Blue - Methane, which is found in the atmosphere of this planet, is responsible for the characteristic color of Uranus. Due to the spectral characteristics of Methane, most of the spectrum of visible electromagnetic radiation is absorbed by this molecule. The only part of visible light that is not absorbed is blue light, which is what we have the chance to see when observing this ice giant. </li>
            </ul>
            <button onclick="closeModal('modal2')">Close</button>
        </div>
    </div>

    <div class="modal" id="modal5">
      <div class="modal-content">
        <div class="slideshow-container">
          <!-- Slajdy -->
          <div class="mySlides">
              <img src="../../static/planets/Uran/Annotated_JWST_image_of_Uranus_moons.png" style="width: 100%;">
          </div>
  
          <div class="mySlides">
            <img src="../../static/planets/Uran/Uranus.jpg" style="width: 100%;">
          </div>
  
          <div class="mySlides">
            <img src="../../static/planets/Uran/Uranus_Moons.jpg" style="width: 100%;">
          </div>
  
          <!-- Przyciski nawigacyjne -->
          <a class="prev" onclick="plusSlides(-1)">Previous</a>
          <a class="next" onclick="plusSlides(1)">Next</a>
          <!-- Punkty pod slajdami -->
          <div class="dot-container">
            <span class="dot" onclick="currentSlide(1)"></span>
            <span class="dot" onclick="currentSlide(2)"></span>
            <span class="dot" onclick="currentSlide(3)"></span>
        </div>
    </div>
          <button onclick="closeModal('modal5')">Close</button>
      </div>
  </div>

</div>
</div>
<script>
// Funkcja otwierająca okno modalne
function openModal(modalId) {
    var modal = document.getElementById(modalId);
    modal.style.display = 'block';
}

// Funkcja zamykająca okno modalne
function closeModal(modalId) {
    var modal = document.getElementById(modalId);
    modal.style.display = 'none';
}

//Funkcje pokazu slajdów
let slideIndex = 1;
  showSlides(slideIndex);

  // Funkcja do przechodzenia do poprzedniego/następnego slajdu
  function plusSlides(n) {
      showSlides(slideIndex += n);
  }

  // Funkcja do przejścia do konkretnego slajdu po kliknięciu na punkt
  function currentSlide(n) {
      showSlides(slideIndex = n);
  }

  // Funkcja do wyświetlania slajdów
  function showSlides(n) {
      let i;
      const slides = document.getElementsByClassName("mySlides");
      const dots = document.getElementsByClassName("dot");

      if (n > slides.length) {
          slideIndex = 1;
      }

      if (n < 1) {
          slideIndex = slides.length;
      }

      for (i = 0; i < slides.length; i++) {
          slides[i].style.display = "none";
      }

      for (i = 0; i < dots.length; i++) {
          dots[i].className = dots[i].className.replace(" active", "");
      }

      slides[slideIndex - 1].style.display = "block";
      dots[slideIndex - 1].className += " active";
  }
</script>

</body>
</html>