<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="../../static/styles.css">
    <link rel="stylesheet" type="text/css" href="../../static/planets.css">
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<!-- style="background-image: url('../../static/planet_background/mercury.jpg');" -->
<body>
    <video autoplay muted loop id="myVideo">
        <source src="../../static/planet_background/venus.mp4" type="video/mp4">
      </video>
    <div id="topnav" class="topnav" style="position: fixed;">
        <a href="/">HOME</a>
        <a class="active" href="/go_bestsellers">BESTSELLERS</a>
        <a href="/go_recomend">OUR RECOMENDATIONS</a>
        <a href="/go_discover">DISCOVER</a>
        <a href="/go_blog">BLOG</a>
        <a href= "/go_insurance">INSURANCE</a>
        <a href= "/go_travel_law">TRAVEL LAW</a>
        <a href= "/go_conditions">CONDITIONS</a>
        <a href="/go_about">ABOUT US</a>
        <a img href="/go_login"><img style="width:40px;"src="../static/login_icon.png"></a>
    </div>
    
    <div class="information" style="padding-left:16px; position: fixed; top: 80px;">
        <h1>MERCURY</h1>
        <div class="container">
            <div class="content">
                <h1>DISCOVER MERCURY WITH US!</h1>
                <div class="row">
                    <div class="col">
                        <a img href=www.google.com><img src="../../static/offer1_icon.jpg"></a>
                    </div>
                    <div class="col">
                        <a img href=www.google.com><img src="../../static/offer2_icon.jpg"></a>
                    </div>
                </div>
                <h2>WHAT TO EXPECT</h2>
            </div>
        </div>
    </div>
    
    </body>
</html> 